In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [2]:
df=pd.read_csv("../Data/2010SantaBarbaraCA.csv")
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      12.7
1  20100601  TUESDAY     1:00      12.7
2  20100601  TUESDAY     2:00      12.3
3  20100601  TUESDAY     3:00      12.5
4  20100601  TUESDAY     4:00      12.7

In [10]:
data=[go.Heatmap(x=df['DAY'],
                y=df['LST_TIME'],
                z=df['T_HR_AVG'].values.tolist(),#z is going to be color, it cant be a df, so we convert it into a python list!
                colorscale='Jet'
                )]

In [11]:
layout=go.Layout(title='SB CA Temps')

In [12]:
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename="heatmap.html")

'heatmap.html'

In [14]:
df=pd.read_csv("../Data/2010YumaAZ.csv")
data=[go.Heatmap(x=df['DAY'],
                y=df['LST_TIME'],
                z=df['T_HR_AVG'].values.tolist(),#z is going to be color, it cant be a df, so we convert it into a python list!
                colorscale='Jet'
                )]
layout=go.Layout(title='SB CA Temps')
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename="heatmapYumaAZ.html")

'heatmapYumaAZ.html'