In [1]:
#create a bubble chart using dataset mpg.csv, and compare three pther features.

In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [3]:
df=pd.read_csv("../Data/mpg.csv")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [5]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [19]:
data=[go.Scatter(x=df['displacement'],
                y=df['acceleration'],
                text=df['name'],
                mode='markers',
                marker=dict(size=df['weight']/400,
                            showscale=True,
                           color=df["mpg"]))]

In [20]:
layout=go.Layout(title="My bubble solution!")

In [21]:
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig,filename="exercise_graph.html")

'exercise_graph.html'